@charset "utf-8";
/* CSS Document */
/****

CARROUSEL

****/
/****SLIDER | BUTTONS****/
.carousel-control-next, .carousel-control-prev, .carousel-control-scroll {
  top: 61%;
  opacity: 1;
  height: 45px;
  width: 45px;
  border-radius: 25px;
  animation: fade_anime 1s ease-out;
}
.carousel-control-next {
  background: #000 url(../img-brand/img-brand.svg) 33% 0%/700% no-repeat;    
  margin-right: -150px;
  right: 50%;
}
.carousel-control-prev {
  background: #000 url(../img-brand/img-brand.svg) 17% 0%/700% no-repeat;
  margin-left: -150px;
  left: 50%;
}
.carousel-control-scroll {
  background: #fff url(../img-brand/img-brand.svg) 82.5% 50%/700% no-repeat;
  left: calc(50% - 23px);
  position: absolute;
  top: auto;
  bottom: 5%;
  transition: background-position-y 0.5s;
  -webkit-transition: background-position-y 0.5s;
  -moz-transition: background-position-y 0.5s;
  -o-transition: background-position-y 0.5s;
  
}
.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: #FF5454;
}
.carousel-control-scroll:hover {
  background-position-y: 100%;
}
@media (max-width:767px) {
.carousel-control-scroll {
  background: #fff url(../img-brand/img-brand.svg) 99% 50%/700% no-repeat;
}
}
/****SLIDER | STYLES****/
.carousel-caption {
  top: 40%;
  bottom: auto;
}
.w-100 {
  height: 50%;
}

@media (max-width:767px) {
.w-100 {
  width: auto!important;
  height: 100%;
}
}

